* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  margin-top: 3rem;
}

/*Navegacion*/
.offcanvas.offcanvas-end {
  width: 0px;
}

/*Portada*/
.container-portada {
  width: 100%;
  height: 1000px;
  margin-top: 3rem;
  position: relative;
  background-image: url(../img/portada.jpg);
  background-size: 200%;
  -webkit-animation: movimiento 20s infinite linear alternate;
          animation: movimiento 20s infinite linear alternate;
}

@-webkit-keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.container-details {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.details {
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 20px;
  color: white;
}

.details h1 {
  font-size: 70px;
  font-weight: 100;
  margin-left: 10px;
}

.details p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200px;
  margin-left: 10px;
}

.details a {
  padding: 10px 20px;
  font-size: 16px;
  background: none;
  border-style: none;
  border: 1px solid white;
  color: white;
  margin-top: 30px;
  transition: background 300ms;
  cursor: pointer;
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.details a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

/* Section Cuerpo */
.main-section,
.main-indice {
  padding: 3rem 2rem;
}

#main-doc header {
  text-align: left;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

/*Indice*/
.main-indice {
  background-color: #f7f7f7;
}

.indice {
  font-size: 15px;
  padding-left: 10rem;
  margin-bottom: 3rem;
  background-color: #f7f7f7;
}

#main-doc {
  position: absolute;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
  }
  .container-portada {
    height: 500px;
  }
}
@media only screen and (max-width: 400px) {
  #main-doc {
    margin: 0;
  }
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
  .container-portada {
    height: 700px;
    width: 130%;
    background-size: 300%;
  }
  .main-indice {
    width: 130%;
  }
}
h5 {
  font-weight: 5rem;
  color: black;
}

/* Referencias */
footer {
  background-color: #212529;
  color: white;
  position: absolute;
  width: 100%;
  margin-top: 8rem;
}
footer header,
footer h5 {
  color: white;
}/*# sourceMappingURL=styles.css.map */